.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: purple;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.header {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItems {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

.navItem {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.navItem .icon {
  padding-right: 5px;
}

.navItem:hover {
  color: lavender;
  text-decoration: none;
}
