.info {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.type {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-left: 0.5em;
}

.amount {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 0.5em;
}

.edit {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.frequency {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 0.5em;
}

.date {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-right: 0.5em;
}
