.App {
  text-align: center;
}

.header {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: white;
  color: gray;
  border-bottom: 1px solid gray;
}

.navItems {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navItem {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.navItem:hover {
  color: purple;
}
